version: "3.9"
services:
  app:
    build:
      context: .
      target: dev
    environment:
      ODINBOT_STORE: /data/store.csv
      ODINBOT_SITE_ROOT: ""
      ODINBOT_TARGET_URL: https://matt-vps.com/odin_of_the_day/
      ODINBOT_FETCH_INTERVAL: 10
    ports:
      - "10000:10000"
    volumes:
      - ./:/app
      - ./data:/data
