apiVersion: apps/v1
kind: Deployment
metadata:
  name: lldap
  labels:
    app: lldap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lldap
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: lldap
    spec:
      containers:
        - image: lldap/lldap:latest-alpine-rootless
          name: lldap
          ports:
            - containerPort: 3890
            - containerPort: 17170
          volumeMounts:
            - mountPath: /data
              name: lldap-data
          env:
          - name: GID
            value: "1001"
          - name: LLDAP_JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: lldap-credentials
                key: lldap-jwt-secret
          - name: LLDAP_KEY_SEED
            valueFrom:
              secretKeyRef:
                name:  lldap-credentials
                key: lldap-key-seed
          - name: LLDAP_LDAP_BASE_DN
            valueFrom:
              secretKeyRef:
                name: lldap-credentials
                key: base-dn
          - name: LLDAP_LDAP_USER_PASS
            valueFrom:
              secretKeyRef:
                name: lldap-credentials
                key: lldap-ldap-user-pass
          - name: TZ
            value: CET
          - name: UID
            value: "1001"
      restartPolicy: Always
      volumes:
        - name: lldap-data
          persistentVolumeClaim:
            claimName: lldap
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
