apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: home

namespace: home

resources:
  - ./namespace.yaml
  - ./home--cert.yaml
  - ./auth-middleware.yaml
  - ./root
  - ./timelapse
  - ./speed-test
  - ./odinbot

secretGenerator:
  - name: ingress-auth
    type: "kubernetes.io/basic-auth"
    envs:
      - .env

generatorOptions:
  disableNameSuffixHash: true
