version: "3.9"
services:
  app:
    build:
      context: .
      target: dev
    environment:
      ODIN_COUNTER_STORE: /data/store.csv
      ODIN_COUNTER_SITE_ROOT: ""
      ODIN_COUNTER_TARGET_URL: https://matt-vps.com/odin_of_the_day/
      ODIN_COUNTER_FETCH_INTERVAL: 10
    ports:
      - "10000:10000"
    volumes:
      - ./:/app
      - ./data:/data
