apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ingress
spec:
  entryPoints:
    - ext-web
  routes:
    - kind: Rule
      match: Host(`home.ticklethepanda.co.uk`) && PathPrefix(`/timelapse`)
      middlewares:
        - name: auth
          namespace: home
      services:
        - name: timelapse-service
          namespace: home
          port: 80

