.summaries {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(7.5em, auto));
	grid-gap: 1em;
	margin-top: 0.5em;
}

.summary {
	padding: 0.75em;
	background-color: var(--background__low-contast);
	color: var(--stroke__high-contrast);
}

form {
	float: right;
}

.summary h3 {
	margin-top: 0;
}


.test-result {
	display: grid;
	margin-top: 1em;
	grid-template-columns: auto 1fr;
	grid-template-areas: "result delete" "server-info server-info";
	column-gap: 1em;
	row-gap: 0.25em;
}

.test-result date {
	font-size: 1em;
	margin: 0;
	font-weight: 700;
	grid-area: result;
}

.server-info {

	margin: 0;
	grid-area: server-info;
}

.chart {
	margin-top: 1em;
}

.charts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
}

.delete {
	grid-area: delete;
	align-self: center;
}