apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/cert-manager/cert-manager/releases/download/v1.9.1/cert-manager.yaml
  - https://raw.githubusercontent.com/metallb/metallb/v0.13.5/config/manifests/metallb-native.yaml
  - ./cluster-issuer.yaml
  - ./lb-traefik-internal.yaml
  - ./lb-traefik-external.yaml
  - ./lb-pihole.yaml
  - ./lb-kube-api.yaml
  - ./lb-advertisement.yaml
  - ./api-proxy
  - ./traefik-helm-config.yaml
  - ./cloudflared
