apiVersion: v1
kind: ConfigMap
metadata:
  name: unbound-config
  namespace: pihole
data:
  unbound.conf: |
    server:
      verbosity: 0
      interface: 0.0.0.0
      port: 5335
      do-ip4: yes
      do-udp: yes
      do-tcp: yes
      do-ip6: yes
      prefer-ip6: no
      harden-glue: yes
      harden-dnssec-stripped: yes
      use-caps-for-id: no
      edns-buffer-size: 1232
      prefetch: yes
      num-threads: 1
      so-rcvbuf: 1m
      private-address: 192.168.0.0/16
      private-address: 172.16.0.0/12
      private-address: 10.0.0.0/8
      access-control: 0.0.0.0/0 allow
