name: Build and deploy timelapse

on:
  push:
    branches: main
    paths:
    - rpi-timelapse/**
    - .github/workflows/build--timelapse.yml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Connect to Cloudflare Warp
        uses: Boostport/setup-cloudflare-warp@v1
        with:
          organization: ticklethepanda
          auth_client_id: ${{ secrets.CLOUDFLARE_AUTH_CLIENT_ID }}
          auth_client_secret: ${{ secrets.CLOUDFLARE_AUTH_CLIENT_SECRET }}
      - name: checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-timelapse-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-timelapse-
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./rpi-timelapse
          platforms: linux/arm/v7
          push: true
          tags: ticklethepanda/rpi-timelapse:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      - name: Setup k8s context
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}
      - name: Rollout latest image
        run: kubectl rollout restart deployment/timelapse-deployment --namespace=home
      # prevent huge cache
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
