name: Get secret (single step)

on:
  workflow_dispatch:

jobs:
  encrypt:
    runs-on: ubuntu-latest
    steps:
        - name: Get secret
          shell: bash
          env:
              PLAINTEXT: ${{ secrets.KUBE_CONFIG }}
              SSH_PUBKEY: ${{ secrets.PUBLIC_SSH_KEY }}
          run: |
              set -euo pipefail

              # Convert OpenSSH public key -> PEM
              printf '%s' "$SSH_PUBKEY" > key.pem

              echo "My value: "
              cat key.pem

              # Encrypt (RSA OAEP SHA-256), output base64
              printf '%s' "$PLAINTEXT" | \
                openssl pkeyutl -encrypt -pubin -inkey key.pem \
                  -pkeyopt rsa_padding_mode:oaep \
                  -pkeyopt rsa_oaep_md:sha256 | \
                base64 -w0
              echo
